.copy-btn {
  float: right;
  position: relative;
  margin-bottom: 5px;
  width: 4em;
  height: 2em;
  background-color: #ea5b26;
  border: none;
  border-radius: .3em;
  color: white;
  text-align: center;
  font-size: 1em;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}

.copy-btn:hover {
	opacity: 1;
}

.copy-btn:focus {
	outline: none;
}

.custom-tooltip {
  position: absolute;
  color: white;
  left: -4%;
  top: 120%;
  opacity: 0;
  margin-bottom: 0 0 1em 0;
  padding: 1em;
  background-color: #000;
  font-size: .8em;
  line-height: 1.6;
  text-align: center;
  white-space: nowrap;
  /* transform: translate(-50%, 1em); */
  transition: all .15s ease-in-out;
  border-radius: .5em;
  padding: .8em;
  letter-spacing: .07em;
}

.custom-tooltip::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: .4em solid transparent;
  border-bottom-color: #000;
  transform: translate(-50%, 0);
}